@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*, :root, html {
    box-sizing: border-box;
}
:root, html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("https://images.unsplash.com/photo-1487621167305-5d248087c724?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#current-weather {
    display: flex;
    flex-direction: column;
    text-align: center;
    .weather-div {
        padding: 15px 20px;
        border: 1px solid rgba(255, 255, 255, 0.164);
        border-radius: 10px;
        width: 400px;
        display: grid;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.295);
        grid-template-areas: 
            "time time"
            "weather-icon infos";
        column-gap: 30px;
        grid-template-columns: 100px 1fr;
        span {
            display: flex;
            flex-direction: row;
            gap: 0.35rem;
            h3 {
                font-weight: normal;
                margin: 0;
                font-size: 16px;
            }
        }
    }
}
.forecast {
    text-align: center;
}

.forecast-card {
    padding: 15px 20px;
    border: 1px solid rgba(255, 255, 255, 0.164);
    border-radius: 10px;
    font-size: 16px;
    width: 400px;
    display: grid;
    text-align: left;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.295);
    grid-template-columns: 100px 1fr;
    grid-template-areas: 
        "f-date f-date"
        "f-icon f-infos";
    column-gap: 30px;
    .forecast-infos p {
        font-size: 16px;
        margin: 0;
    }
    .forecast-infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    p {
        margin: 0;
    }
    p::first-letter {
        text-transform: capitalize;
    }
}

.forecast-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 60px;
}

.input-form {
    input {
        color: black;
        font-size: 14px;
        background-color: rgba(0, 0, 0, 0.062);
        border: 1px solid rgba(0, 0, 0, 0.164);
        backdrop-filter: blur(5px);
        border-radius: 80px;
        padding: 10px;
        padding-left: 15px;
        &::before {
            display: block;
            content: " siema";
        }
    }
    button {
        padding: 10px 15px;
        font-size: 14px;
        margin-left: 10px;
        border-radius: 80px;
        border: 1px solid rgba(0, 0, 0, 0.164);
        background-color: rgba(255, 255, 255, 0.527);
        backdrop-filter: blur(5px);
        &:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.26);
        }
        &:active {
            background-color: rgba(0, 0, 0, 0.15);
        }
    }
}

.time { grid-area: time; margin-bottom: 15px; }
.weather-icon { grid-area: weather-icon;}
.infos { grid-area: infos; }

.forecast-date { grid-area: f-date;}
.forecast-icon { grid-area: f-icon; }
.forecast-infos { grid-area: f-infos; }

.forecast:has(.forecast-cards:empty) {
    display: none;
}

.weather-div:has(#city-name:empty) {
    display: none;
}